<h1><%= t ".title_pass_reset" %></h1>

<p><%= t ".content_1_pass_reset" %></p>

<%= link_to t(".reset_pass"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>

<p><%= t ".content_2_pass_reset" %></p>

<p>
<%= t ".content_3_pass_reset" %>
</p>
